@model TrabajoCGB.Models.coche

@{
    ViewBag.Title = "AgregarCoche";
}

<h2>Agregar Coche</h2>
<div class="text-center">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>coche</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
            <div class="form-group">
                @Html.LabelFor(model => model.patente, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.patente, new { htmlAttributes = new { size = "20", MaxLength = "20"} })
                    @Html.ValidationMessageFor(model => model.patente, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.grupo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.grupo, new { htmlAttributes = new { size = "20", MaxLength = "1", placeholder = "Posibles: A-B-C-D-E-F-G" } })
                    @Html.ValidationMessageFor(model => model.grupo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.marca, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.marca, new { htmlAttributes = new { size = "30", MaxLength = "50" } })
                    @Html.ValidationMessageFor(model => model.marca, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.modelo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.modelo, new { htmlAttributes = new { size = "15", min="1970", placeholder = "1970-actualidad" } })
                    @Html.ValidationMessageFor(model => model.modelo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.numero_puertas, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.numero_puertas, new { htmlAttributes = new { size = "10", max="7", placeholder = "Solamente número" } })
                    @Html.ValidationMessageFor(model => model.numero_puertas, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.numero_pasajeros, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.numero_pasajeros, new { htmlAttributes = new { size = "10", max = "30", placeholder = "Solamente número" } })
                    @Html.ValidationMessageFor(model => model.numero_pasajeros, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.capacidad_baúl, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.capacidad_baúl, new { htmlAttributes = new { size = "55", placeholder = "Volumen en litros (solamente números)" } })
                    @Html.ValidationMessageFor(model => model.capacidad_baúl, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.codigo_unico_oficina, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12">
                    @Html.Action("ListadoOficinas")
                    @Html.ValidationMessageFor(model => model.codigo_unico_oficina, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <input type="submit" value="Crear" class="btn btn-secondary" />
                </div>
            </div>
        </div>
    }
</div>
<div>
    @Html.ActionLink("Retornar", "ListadoAlquileres", null, new { style = "font-weight:bold; color:blue" })
</div>
